<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
    <link  rel="icon" type="image/png" href="../img/logo-icone.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LDEVZ Technologies</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <!--<%- include('/partials/head') %>-->

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"> </svg>
            <span class="fs-4"><img src="../img/logo-01.png" alt="" width="50" height="32"></span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Inicio</a></li>
            <li class="nav-item"><a href="#" class="nav-link">sobre</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Serviços</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Treinamento</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Projectos</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Forum</a></li>

          </ul>
        </header>
      </div>
      <p>
        <br><br><br><br>

      </p>
     

      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item img1">
            <img src="../img/programaçao.png" style="height: 70vh !important; filter: brightness(50%);" width="100%" alt="">
            <div class="container">
              <div class="carousel-caption text-start">
                <h1 class="color-principal">SEJA BEM VINDO A <span>LDEVZ</span></h1>
                <p class="color-secundary">Este é o ambiente para estar actualizado sobre o mundo das tecnologias</p>
                <p><a class="btn btn-lg btn-primary botton-banner" href="#">ver mais</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item active">
            <img src="../img/farzad-nazifi-p-xSl33Wxyc-unsplash.jpg" style="height: 70vh !important;   filter: brightness(50%);" width="100%" alt="">
    
            <div class="container">
              <div class="carousel-caption text-start">
                <h1  class="color-principal">Conheca os nossos Treinamentos</h1>
                <p class="color-secundary">Somos especializados em Java, nodejs....</p>
                <p><a class="btn btn-lg btn-primary botton-banner" href="#">ver mais</a></p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../img/design.png" style="height: 70vh !important;   filter: brightness(50%);" width="100%" alt="">
    
            <div class="container">
              <div class="carousel-caption text-start ">
                <h1  class="color-principal">Nossos projectos</h1>
                <p class="color-secundary">Confira os projectos ja feito pela nossa empresa</p>
                <p><a class="btn btn-lg btn-primary botton-banner" href="#">ver mais</a></p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="about">
        <div class="container l-container">
            <div class="row l-row">
              <div class="col-md-4">
               <img class="about-img" src="../img/icons-01.png" width="20%" height="80px" alt="">
               <p class="about-text">A LDEVZ é a entidade pioneira em treinamentos em programacao online</p>
              </div>
              <div class="col-md-4">
                <img class="about-img" src="../img/icons-03.png" width="20%" height="80px" alt="">
                <p class="about-text">Everything to if attained
                  overgrown as bed coun-
                  tries a english</p>
              </div>
              <div class="col-md-4">
                <img class="about-img" src="../img/icons-04.png" width="20%" height="80px" alt="">
                <p class="about-text">Implemented
                  rank and for Laila Amosse Matusse with our team</p>
              </div>
            </div>
          </div>
      </div>
      <div class="trein">
          <h1 class="color-primary text-center">Treinamento</h1>
            <p class="trein-text text-center">The console away, simply. Seen safely from as duck entered will
                text just at to arrives many explain future an all head admit-
                tance, of there way, late in like everyday. In finds a it coffee true,
                unrecognisable.</p>
      </div>
      <div class="trein-container ">
        <div class="row t-row">
          <div class="col-md-3 coluna">
            <img class="trein-img" src="../img/design.png" width="300px" height="300px">
            <div class="row trein-container">
                <div class="col-md-2">
                  <img class=" trein-image"  src="../img/icons-05.png" width="40px" height="40px" alt="">
                </div>
                <div class="col-md-10" > <h1 class="trein-subtite">Front-end</h1></div>

            </div>
            <p class=" text text-justify">Sight with would some has create desk, magazine away. A the had girl where out hide sleep. In brought that follow fundamental burden he</p>
            
            <a href="#trein-from"><h4 class="trein-submit">inscrever-se</h4></a>

          </div>
          <div class="col-md-3 coluna">
            <img class="trein-img" src="../img/programaçao.png"  width="300px" height="300px">
            <div class="row trein-container">
            <div class="col-md-2">
              <img class=" trein-image"  src="../img/icons-05.png" width="40px" height="40px" alt="">
            </div>
            <div class="col-md-10" > <h1 class="trein-subtite">Javascript</h1></div>
            </div>
            <p class="text text-justify">Sight with would some has create desk, magazine away. A the had girl where out hide sleep. In brought that follow fundamental burden he</p>
            <a href="#trein-from"><h4 class="trein-submit">inscrever-se</h4></a>
          </div>
          <div class="col-md-3 coluna">
            <img class="trein-img" src="../img/kevin-ku-w7ZyuGYNpRQ-unsplash.jpg"  width="300px" height="300px">
            <div class="row trein-container">
            <div class="col-md-2">
              <img class=" trein-image"  src="../img/icons-05.png" width="40px" height="40px" alt="">
            </div>
            <div class="col-md-10" > <h1 class="trein-subtite">Logica de programação</h1></div>
        </div>
        <p class=" text text-justify">Sight with would some has create desk, magazine away. A the had girl where out hide sleep. In brought that follow fundamental burden he</p>
        <a href="#trein-from"><h4 class="trein-submit">inscrever-se</h4></a>

          </div>
          <div class="col-md-3 coluna">
            <img class="trein-img" src="../img/farzad-nazifi-p-xSl33Wxyc-unsplash.jpg"  width="300px" height="300px">
            <div class="row trein-container">

            <div class="col-md-2">
              <img class=" trein-image"  src="../img/icons-05.png" width="40px" height="40px" alt="">
            </div>
            <div class="col-md-10" ><h1 class="trein-subtite">Base de dados</h1></div>
            </div>
            <p class=" text text-justify">Sight with would some has create desk, magazine away. A the had girl where out hide sleep. In brought that follow fundamental burden he</p>
            <a class="trein-form" id="trein-form" href="#trein-from"><h4 class="trein-submit">inscrever-se</h4></a>

          </div>
        </div>
      </div>

      <div class="trein-container-1 ">
        <div class="row t-row">
          <div class="col-md-3 coluna">
            <img class="trein-img" src="../img/design.png" width="300px" height="300px">
            <div class="row trein-container">
                <div class="col-md-2">
                  <img class=" trein-image"  src="../img/icons-05.png" width="40px" height="40px" alt="">
                </div>
                <div class="col-md-10" > <h1 class="trein-subtite">Programação I & II</h1></div>

            </div>
            <p class=" text text-justify">Sight with would some has create desk, magazine away. A the had girl where out hide sleep. In brought that follow fundamental burden he</p>
            
            <a href="#trein-from"><h4 class="trein-submit">inscrever-se</h4></a>

          </div>
          <div class="col-md-3 coluna">
            <img class="trein-img" src="../img/design.png"  width="300px" height="300px">
            <div class="row trein-container">
            <div class="col-md-2">
              <img class=" trein-image"  src="../img/icons-05.png" width="40px" height="40px" alt="">
            </div>
            <div class="col-md-10" > <h1 class="trein-subtite">Programação web Java</h1></div>
            </div>
            <p class="text text-justify">Sight with would some has create desk, magazine away. A the had girl where out hide sleep. In brought that follow fundamental burden he</p>
            <a href="#trein-from"><h4 class="trein-submit">inscrever-se</h4></a>
          </div>
          <div class="col-md-3 coluna">
            <img class="trein-img" src="../img/design.png"  width="300px" height="300px">
            <div class="row trein-container">
            <div class="col-md-2">
              <img class=" trein-image"  src="../img/icons-05.png" width="40px" height="40px" alt="">
            </div>
            <div class="col-md-10" > <h1 class="trein-subtite">Programação em PHP</h1></div>
        </div>
        <p class=" text text-justify">Sight with would some has create desk, magazine away. A the had girl where out hide sleep. In brought that follow fundamental burden he</p>
        <a href="#trein-from"><h4 class="trein-submit">inscrever-se</h4></a>

          </div>
          <div class="col-md-3 coluna">
            <img class="trein-img" src="../img/design.png"  width="300px" height="300px">
            <div class="row trein-container">

            <div class="col-md-2">
              <img class=" trein-image"  src="../img/icons-05.png" width="40px" height="40px" alt="">
            </div>
            <div class="col-md-10" ><h1 class="trein-subtite">Database</h1></div>
            </div>
            <p class=" text text-justify">Sight with would some has create desk, magazine away. A the had girl where out hide sleep. In brought that follow fundamental burden he</p>
            <a class="trein-form" id="trein-form" href="#trein-from"><h4 class="trein-submit">inscrever-se</h4></a>

          </div>
        </div>
      </div>
      <div class="more-div">
        <a href="#"><h1 class="more">ver mais</h1></a>
      </div>
      <div class=" container projects">
        <div class="row">
          <div class="col-md-5 proj-coluna">
            <h1 class=" color-primary projects-text">Projectos</h1>
            <div class="hr1"></div>
            <p class="proj-text">
              Have starting as through as day transmitting the and trust
              have it you own hotel of digest. Been back the what shreds
              do policeman, about expected its but in a attention not saw
              thought. A of avoid organization. Fall perception in the girl
              their a paper one to position. Of apart behind the are out
              two look written series with out welcoming somehow com-
              mitment to of too the semantics, the would was target. This
              rationale semantics, trying copy. Recently brief felt the now,
              console to rather began it him accept the wrong was back
              rationale wasn't be has entirely endure.
            </p>
            <div class="more-div-2">
              <a href="#"><h1 class="more">ver mais</h1></a>
            </div>
          </div>
          <div class="col-md-6 proj-img">
            <img src="../img/POW.png" width="100%" alt="">
          </div>
        </div>
        
        
      </div>
      <!--FOOTER-->
      <div class="footer">
        <div class="f-container">
          <div class="row  f-row">
            <div class="col-md-4">
              <img style="margin-top: 20%;" src="../img/logo-02.png" width="250px"  alt="">
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">
                  <p class="f-text" style="margin-top: 40%;"><a href="#">Sobre</a></p>
                  <p class="f-text"><a href="#">Serviços</a></p>
                  <p class="f-text"><a href="#">Treinamento</a></p>
                </div>
                <div class="col-md-6">
                  <p class="f-text" style="margin-top: 40%;"><a href="#">Contacto</a></p>
                  <p class="f-text"><a href="#">Forum</a></p>
                </div>
              </div>
             
            </div>
            <div class="col-md-4">
              <form class="f-form" name="cadastro" action="mailto:englmatusse@gmail.com" method="get" id="cadastro">
                <p>

                    <input type="text" name="nome" id="nome" placeholder="nome">
                  
                </p>
                 
              <p>
              
                  <input type="email" name="nome" id="nome" placeholder="email">
               
              </p>
               <p>
             
                  <textarea name="mensagem" id="" cols="30" rows="10" placeholder="mensagem"></textarea>                
               
               </p>
               <input class="f-submit" type="submit" value="enviar">
              </form>
              <!--<a href="javascript:{document.cadastro.submit();}">Enviar o Formulário</a>-->
            </div>
          </div>
        </div>
      </div>
      <div class="copy">
        <p>
          Copyright © 2021. Reservados todos direitos a <span class="copy-c">LDEVZ</span>  Tecnhologies
          </p>
      </div>
      <script >
      /*document.getElementById('signup-form').addEventListener('submit', function () {
    var nome = this.querySelector('input[name=nome]'), nome = nome.value;
    var email = this.querySelector('input[name=email]'), email = email.value;
    var mensage =  this. querySelector('input[name=mensagem]'), mensagem=mensagem.value;
    var texto = 'Olá destinatário, \nMeu nome é '+ nome +' e meu email é '+ email;
    this.querySelector('input[name=Body]').setAttribute('value', texto);
});
;*/
      </script>
</body>
</html>