<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
    <link  rel="icon" type="image/png" href="../img/logo-icone.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LDEVZ Technologies</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <!--<%- include('/partials/head') %>-->

    <div class="my-header">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"> </svg>
            <span class="fs-4"><img src="../img/logo-01.png" alt="" width="50" height="32"></span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Inicio</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">sobre</a></li>
            <li class="nav-item"><a href="/services" class="nav-link">Serviços</a></li>
            <li class="nav-item"><a href="/treinamento" class="nav-link">Treinamento</a></li>
            <li class="nav-item"><a href="/projects" class="nav-link">Projectos</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contacto</a></li>
            <li class="nav-item"><a href="/form" class="nav-link">Forum</a></li>

          </ul>
        </header>
      </div>
      <p>
        <br><br><br><br>

      </p>
<div class="banner-img">
    <img src="../img/programaçao.png" style="height: 50vh !important; filter: brightness(50%);" width="100%" alt="">
    <div class="carousel-caption text-start">
        <h1 class="color-white">Projecto</h1>
        <p class="color-secundary-1">Este é o ambiente para estar actualizado sobre</p>
      </div>
</div>
<div class="about">
    <div class="container">
        <h1 class="color-white-1 text-center">Nossos Projectos</h1>
       <p class="about-text text-width">A LDEVZ é uma empresa focada na area das tecnoligias, especificamente atua nas areas de Desenvolvimento de sistemas desde web design ate hospedagem</p>
      </div>
  </div>

  <div class=" container projects">
    <div class="row">
      <div class="col-md-12 proj-coluna">
        <h1 class=" color-primary projects-text">Veja os nossos Projectos</h1>
        <div class="hr1"></div>
        <div style="margin-bottom: 4%;" class="row">
            <div class="col-md-4">
                <div class="projects-col">
                   <h1 class="color-primary projects-text proj-header">Motormoz</h1>  
<p class="proj-col">Sight with would some has create desk, magazine away. A the hadgirl where out hide sleep.In brought that follow fundamen-tal burden he tones.</p>
<div class="row trein-container-1">
    <a class="ver-proj" href="">
    <div style="display: inline;" class="col-md-2">
       
      <img  class=" proj-image"  src="../img/icons-11.png" width="40px" height="40px" alt="">
    </div>
    <div style="display: inline;" class="col-md-10" > <h1 class="trein-subtite">Ver Projecto</h1></div>
</a>
</div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="projects-col diferent">
                    <h1 class="color-primary projects-text proj-header">CNJ</h1>  
 <p class="proj-col">O objectivo do desenvolvimento desse website é justamente para que acessibilidade da informação seja facil e rapida. E tambem uma forma de haver uma intervenção rápida entre o Conselho Nacional da Juventude e os jovens.</p>
 <div class="row trein-container-1">
     <a class="ver-proj" href="https://cnj.org.mz/">
     <div style="display: inline;" class="col-md-2">
        
       <img  class=" proj-image"  src="../img/icons-11.png" width="40px" height="40px" alt="">
     </div>
     <div  style="display: inline;" class="col-md-10" > <h1 class="trein-subtite">Ver Projecto</h1></div>
 </a>
 </div>
 
</div>
</div>
    <div class="col-md-4">
        <div class="projects-col">
            <h1 class="color-primary projects-text proj-header">Motormoz</h1>  
             <p class="proj-col">Sight with would some has create desk, magazine away. A the hadgirl where out hide sleep.In brought that follow fundamen-tal burden he tones.</p>
             <div class="row trein-container-1">
                 <a class="ver-proj" href="">
                    <div style="display: inline;" class="col-md-2">
                        <img  class=" proj-image"  src="../img/icons-11.png" width="40px" height="40px" alt="">
                    </div>
     <div style="display: inline;" class="col-md-10" > <h1 class="trein-subtite">Ver Projecto</h1>
    </div>
                </a>
            </div>
 
                 </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="projects-col">
                        <h1 class="color-primary projects-text proj-header">Motormoz</h1>  
     <p class="proj-col">Sight with would some has create desk, magazine away. A the hadgirl where out hide sleep.In brought that follow fundamen-tal burden he tones.</p>
     <div class="row trein-container-1">
         <a class="ver-proj" href="">
         <div style="display: inline;" class="col-md-2">
            
           <img  class=" proj-image"  src="../img/icons-11.png" width="40px" height="40px" alt="">
         </div>
         <div style="display: inline;" class="col-md-10" > <h1 class="trein-subtite">Ver Projecto</h1></div>
     </a>
     </div>
     
                     </div>
                </div>
                <div class="col-md-4">
                    <div class="projects-col">
                        <h1 class="color-primary projects-text proj-header">Motormoz</h1>  
     <p class="proj-col">Sight with would some has create desk, magazine away. A the hadgirl where out hide sleep.In brought that follow fundamen-tal burden he tones.</p>
     <div class="row trein-container-1">
         <a class="ver-proj" href="">
         <div style="display: inline;" class="col-md-2">
            
           <img  class=" proj-image"  src="../img/icons-11.png" width="40px" height="40px" alt="">
         </div>
         <div style="display: inline;" class="col-md-10" > <h1 class="trein-subtite">Ver Projecto</h1></div>
     </a>
     </div>
     
                     </div>
                </div>
                <div class="col-md-4">
                    <div class="projects-col">
                        <h1 class="color-primary projects-text proj-header">Motormoz</h1>  
     <p class="proj-col">Sight with would some has create desk, magazine away. A the hadgirl where out hide sleep.In brought that follow fundamen-tal burden he tones.</p>
     <div class="row trein-container-1">
         <a class="ver-proj" href="">
         <div style="display: inline;" class="col-md-2">
            
           <img  class=" proj-image"  src="../img/icons-11.png" width="40px" height="40px" alt="">
         </div>
         <div style="display: inline;" class="col-md-10" > <h1 class="trein-subtite">Ver Projecto</h1></div>
     </a>
     </div>
     
                     </div>
                </div>
                </div>
      </div>
    </div>
    
    
  </div>
       <!--FOOTER-->
       <div class="footer">
        <div class="f-container">
          <div class="row  f-row">
            <div class="col-md-4">
              <img style="margin-top: 20%;" src="../img/logo-02.png" width="250px"  alt="">
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-6">
                  <p class="f-text" style="margin-top: 40%;"><a href="#">Sobre</a></p>
                  <p class="f-text"><a href="#">Serviços</a></p>
                  <p class="f-text"><a href="#">Treinamento</a></p>
                </div>
                <div class="col-md-6">
                  <p class="f-text" style="margin-top: 40%;"><a href="#">Contacto</a></p>
                  <p class="f-text"><a href="#">Forum</a></p>
                </div>
              </div>
             
            </div>
            <div class="col-md-4">
              <form class="f-form" name="cadastro" action="mailto:englmatusse@gmail.com" method="get" id="cadastro">
                <p>

                    <input type="text" name="nome" id="nome" placeholder="nome">
                  
                </p>
                 
              <p>
              
                  <input type="email" name="nome" id="nome" placeholder="email">
               
              </p>
               <p>
             
                  <textarea name="mensagem" id="" cols="30" rows="10" placeholder="mensagem"></textarea>                
               
               </p>
               <input class="f-submit" type="submit" value="enviar">
              </form>
              <!--<a href="javascript:{document.cadastro.submit();}">Enviar o Formulário</a>-->
            </div>
          </div>
        </div>
      </div>
      <div class="copy">
        <p>
          Copyright © 2021. Reservados todos direitos a <span class="copy-c">LDEVZ</span>  Tecnhologies
          </p>
      </div>
      <script >
      </script>
</body>
</html>